<div class="container">

  <div class="form">
    <mat-card>
      <mat-card-title>Login</mat-card-title>
      <mat-card-content>
        <form [formGroup]="form" (ngSubmit)="onSubmit(model)">
          <formly-form [form]="form" [fields]="schema.props" [model]="model"></formly-form>
          <button mat-button type="submit" class="btn btn-default">Submit</button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
  <hr />
  <h2>Input</h2>
  <pre>{{ model | json }}</pre>
  <br />


  <h2>Model Name Variations Generator</h2>
  <pre>
  <code class="language-typescript">{{generate_variations() | json}}</code>  
  </pre>

  <h2>HttpClient Template</h2>
  <pre>
  <code [innerText]="generate_service()"></code>  
  </pre>

</div>