@import '@angular/material/prebuilt-themes/indigo-pink';

.container {
    display: grid;
    grid-template-columns: 1fr minmax(150px, 20%);
    height: 100px;
}

main,
aside {
    padding: 12px;
    
}

main {
    background: #d4f2c4;
}

aside {
    background: #81cfd9;
}

.form {
    display: grid;
    width: 600px;
    place-items: center;
    border: 1px red solid;
}

pre {
    background-color: mediumslateblue;
    color: navajowhite;
    padding: 10px;
    margin-left: 25px;
    width: 60vw;
    overflow-y: scroll;
    overflow-x: hidden;
}